.stripc-main {
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.strip-div {
  height: 100px;
  width: 100px;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
}
.stripc {
  height: 100%;
  width: 100%;
}
.slick-prev,
.slick-next {
  display: none !important;
}
