* {
  padding: 0%;
  margin: 0%;
  outline: none;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

/*scrollbar dark*/
html::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
html::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 50px;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%),
    inset -2px -2px 2px rgb(0 0 0 / 25%);
}

html::-webkit-scrollbar-button {
  background: #434343;
  color: black;
}
.navbar {
  background-color: #fff !important;
  letter-spacing: 1px !important;
}
.navbar a:hover {
  color: blue !important;
}
.nav_btn {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar-brand {
  color: rgba(46, 45, 45, 0.884) !important;
  font-size: 1.5rem !important;
  letter-spacing: 2px;
}

.btnmargin {
  margin-bottom: 20px !important;
}
