* {
  padding: 0%;
  margin: 0%;
  outline: none;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;

}

/*scrollbar dark*/
/*html::-webkit-scrollbar {
  width: 20px;
  height: 16px;
}
html::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}

html::-webkit-scrollbar-track {
  background: linear-gradient(
90deg
,#434343,#434343 1px,#111 0,#111);
}
/*scrollbar light*/
/*body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}*/
.navbar {
  background-color: #fff !important;
  letter-spacing: 1px !important;
}
.navbar a:hover {
  color: blue !important;
}
.nav_btn {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar-brand {
  color: rgba(46, 45, 45, 0.884) !important;
  font-size: 1.5rem !important;
  letter-spacing: 2px;
}
/* This is home page*/
#header {
  height: 80vh;
  width: 100%;
  margin-top: 70px;
}
#header h1 {
  margin: 0px 0px 10px 0px;
  font-size: 48px;
  font-weight: 700;
  color: black;
}
#header .brand-name {
  color: #3498bd;
}
#header h2 {
  color: #484848;
  font-size: 24px;
}
#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  letter-spacing: 1px;
  padding: 10px 30px;
  color: #3498bd;
  border-bottom: 2px solid #3498bd;
  text-decoration: none;
  border-radius: 50px;
}
#header .btn-get-started:hover {
  background: #3498bd;
  color: #fff;
}
.header_img {
  text-align: right;
}
/* Animation*/
#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.btnmargin {
  margin-bottom: 20px !important;
}
