@media only screen and (max-width: 960px) {
  #header {
    height: 80vh;
    text-align: center;
  }
  #header .header_img {
    text-align: center;
  }
  #header .header_img img {
    width: 60%;
  }
  .title-logo {
    width: 170.66px;
    height: 40px;
  }
  .service-box {
    max-width: 45%;
  }
  .p-imgdiv {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 768px) {
  #header {
    height: auto;
    margin-top: 20px;
  }
  #header h2 {
    font-size: 20px;
  }
  #header h1 {
    font-size: 28px;
  }
  #header .header_img img {
    width: 90%;
  }
  .animated {
    height: 150px;
  }
  .form-floating {
    width: 100% !important;
  }
  .title-logo {
    width: 170.66px;
    height: 40px;
  }
  .service-box {
    max-width: 50%;
  }
  .intro-imgdiv {
    width: 100%;
  }
  .intro-textdiv {
    width: 100%;
  }
  .intro-main {
    height: 180vh;
  }
  .intro-div {
    height: 45vh;
  }
  .contact-div-1,
  .contact-div-2 {
    width: 100%;
    padding-left: 0px;
    text-align: left;
    padding-left: 20px;
  }
  .p-imgdiv {
    padding-right: 20px;
    padding-left: 20px;
  }
  .stripc-main {
    height: 130px;
  }
  .strip-div {
    height: 130px;
    width: 130px;
  }
}
@media screen and (max-width: 480px) {
  .service-box {
    max-width: 100%;
  }
  .intro-main {
    height: 220vh;
  }
  .intro-div {
    height: 55vh;
  }

  .contact-2h h4 {
    font-size: 18px;
  }
  .contact-div-1,
  .contact-div-2 {
    width: 100%;
    padding-left: 0px;
    text-align: left;
    padding-left: 20px;
  }
  .cont-icon1 .MuiSvgIcon-root {
    margin-right: 0px;
  }
  .p-imgdiv {
    padding-right: 30px;
    padding-left: 30px;
  }
  .stripc-main {
    height: 80px;
  }
  .strip-div {
    height: 80px;
    width: 80px;
  }
}
@media screen and (max-width: 350px) {
  .contact-2h h4,
  p {
    font-size: 14px;
  }
}
